* {
  box-sizing: border-box;
}

.input {
  background-color: black;
  width: 100%;
  border-radius: 20px;
  padding: 5px;
  border: none;
  color: white;
}
.input:focus {
  outline: none;
}
.inputdiv {
  position: relative;
  border: 1px solid gray;
  border-radius: 20px;
}
.inputdiv .searchIcon {
  color: white;
  position: absolute;
  /* transform: translateX(-149%); */
  right: 0px;
  top: 0px;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
}
.userWrapper {
  border: 1px solid gray;
  border-radius: 20px;
  padding: 4px;
}
.userImage img {
  width: 30px;
}


/* Nav css */


@media (min-width: 992px) {
  .offcanvas {
    visibility: visible;
    position: relative;
    background: none;
    border: none;
    justify-content: end;
    color: #555555;
  }
}

@media (max-width: 992px) {
  .offcanvas {
    width: 250px !important;

    /* background: linear-gradient(to bottom, #0C1E7F 12%, #D22779 100%); */
    background: white;
  }
  .offcanvas-start-lg {
    top: 0;
    left: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.2);

    transform: translateX(-100%);
  }
}
@media (max-width: 992px) {
  .offcanvas .navbar-nav li a {
    color: black !important;
    /* border-bottom: 1px dotted orange; */
    margin-bottom: 25px;

  }
  .offcanvas .navbar-nav li a.active {
    color: black !important;
  }
}

.navbar-toggler {
  display: flex;
  justify-content: end;
}
.navbar-nav li a {
  color: black;
  text-align: left;
  font-size: 0.875em;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  margin: 0px 0px 0px 10px;
  font-weight: 700;
}
/* .nav-link.active {
  color: white !important;
} */
/* nav.bg-transparent .navbar-nav li a {
  color: black !important;
} */
.navbar-dark .navbar-nav li a {
  color: black !important;
  font-weight: 700;
}
/* .offcanvas .navbar-nav li a:hover {
  color: orange !important;
} */
.offcanvas-header {
  height: 30px;
  padding-top: 50px;
}
/* .offcanvas-header a svg {
  background-color: white;
  border-radius: 50%;
} */
.toggle-margin {
  margin-top: 25px;
  margin-right: 0px;
}
.btnJoin{
    background-color:  #E60023;
    border-radius: 20px;
    padding: 3px 23px;
    border: none;
    color: white;
}
.toggleBtn{
    color: black!important;
}
.toggleBtn:focus{
    outline-offset: 0!important;
}

/* hero section css  */
.hero-section{
    background-image: url('./images/slide.jpg');
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    
}
.hreo-section-btn{
    background-color: white;
    color: #E60023;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    font-weight: 700;
}
.hreo-section-btn span img{
    width: 20px;
}


/* service section  */
.service-card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    padding: 40px 0px 20px 0px ;
    border: 1px solid rgba(128, 128, 128, 0.187);
    border-radius: 5px;
    background: white;
}
.slider{
    position: relative;
}
.service-section{
    position: absolute;
    bottom: -110px;
    width: 100%;
}
.service-icon{
    position: absolute;
    left: 40%;
    top: -30%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 8px;
    border-radius: 5px;
    background: white;
    z-index: 999;
}
.service-section.owl-carousel .owl-item img{
    width: auto!important;
    
}
.owl-carousel.owl-drag .owl-item{
    padding-top: 31px;
}
.carousal-btn-group button{
   
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: absolute;
        top: 40%;
        z-index: 99;
/*        
        background-color: rgb(27, 26, 26); */
        color:#E60023;
 
}
.carousal-custome-btn-prev{
    padding-right: 30px;
}
.carousal-custome-btn-next{
    padding-left: 0px;
}
/* .service-card.service-icon img{
    width: 100%;
} */

.service-section.owl-nav{
    /* display: flex;
    justify-content: space-between; */
    display: none;
}

/* voopons-love-section css */
.voopons-love-section{
    margin-top: 6rem;
}

.voponse-carousel.slider img{
    width: 100%;
}

.carousal-voponse-btn-group button{
   
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    bottom: 44%;
    font-size: 25px;
    z-index: 99;
/*        
    background-color: rgb(27, 26, 26); */
    color:#E60023;

}
.carousal-voponse-custome-btn-prev{
    padding-right: 30px;
}